RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php?mainurl=$0 [qsa]

Options -Indexes

<FilesMatch "\.(php)$">
  Deny from all
</FilesMatch>

<FilesMatch "index.(php)$">
  Allow from all
</FilesMatch>